<%- include('header') %>

<div class="jumbotron text-center">
    <div class="container justify-content-center" >
      <h1>This Email already exists. Try different email</h1>
    </div>
  </div>

  <%- include('footer') %>