
<nav class="navbar justify-content-center fixed-bottom navbar-light" style="background-color: #e3f2fd;">
    <div class="container justify-content-center ">
      <a class="navbar-brand" href="">coded by Aayush</a>
    </div>
  </nav>
</body>
</html>
