<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Tiny Url : your solution for large urls</title>
    <!-- <link rel="shortcut icon" href="/css/favicon.ico" /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/73e276721d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar justify-content-center sticky-top navbar-dark bg-dark">
      <div class="container justify-content-center ">
        <a class="navbar-brand" href="/">Tiny Url</a>
      </div>
    </nav>
 
