<%- include('header') %>

<div class="jumbotron text-center">
  <div class="container justify-content-center">
    <h1>Opps something went wrong. Try again</h1>
  </div>
</div>

<%- include('footer') %>